img {
    max-width: 100%;
}
body{
    font-family: 'Lato', sans-serif;
}
header {
    background: #2a2a2a;
}
.navbar-inverse .navbar-nav>li>a {
    color: #999999;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #a94442;
}
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: black;
}
.navbar-nav {
    float: right;
}
.navbar {
    padding: 15px 0;
}
.navbar-brand>img:hover {
    opacity: .8;
}
.navbar-inverse {
    background-color: #262626;
}
header .header-top {
    padding-top: 120px;
    color: #d9d9d9;
    text-align: center;
}
.header-top h1 {
    font-size: 50px;
    margin-bottom: 35px;
    
}
.header-top h1 span {
    font-weight: 700;
}
.header-top p {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 50px;
    
}
.header-top .btn-header {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6760;
    padding: 15px 40px;
    border-radius: 5px;
    margin-bottom: 50px;
}
@media (max-width:768px) {
    .main-menu {
        width: 100%;
        margin: 5px auto;
        float: none;
    }
}
.service {
    text-align: center;
    padding: 85px 0;
    background-color: #f8f8f8;
    color: #616161;
    margin-bottom: 60px;
}
.service i{
    margin-bottom: 30px;
    font-size: 60px;
}
/*
.service i:hover{
    color: rgb(0,18,36);
}
*/
.service h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
}
.service p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}
@media (max-width:992px) {
    .service [class*=col-]:nth-child(n+3) {
       margin-top: 30px;
    }
}
.portfolio {
    margin-bottom: 60px;
}
.portfolio h2 {
    font-size: 30px;
    font-weight: 700;
    color: #616161;
    text-align: center;
    margin-bottom: 20px;
}
.portfolio p {
    font-size: 20px;
    color: #616161;
    text-align: center; 
    margin-bottom: 50px;
}
.pt-btn .portfolio-btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6760;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.pt-btn {
    text-align: center;
}
.pt-btn .active {
    background-color: #595959;
    color: #fff;
}
.pt-img [class*=col-] {
    padding: 15px;
}
footer {
    background-color: #313131;
    color: white;
    text-align: center;
}
footer h1 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 60px;
    margin-bottom: 20px;
}
footer .get-in p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #bebebe;
}
footer .copyright p{
    font-size: 14px;
    line-height: 24px;
    color: #bebebe;
}
address {
    margin-bottom: 25px;
}
address span {
    display: inline-block;
    color: #bebebe;
    font-size: 14px;  
    padding-left: 18px;
    position: relative;
}
.our-street {
    margin-right: 15px;
}
.tel {
    margin-left: 15px;
}
.our-street:before, .tel:before{
    content: "";
    position: absolute;
    left: 0;
}
address .our-street:before {
    background: url(../img/Fill.png) no-repeat;
    width: 9px;
    height: 13px;  
}
address .tel:before {
    background: url(../img/Phone.png) no-repeat;
    width: 11px;
    height: 11px;
}
@media (max-width:490px) {
   .get-in address span {
        margin: 0;
       margin-bottom: 10px;
    }
}
footer .soc-icon {
    margin-bottom: 50px;
}
.soc-icon a {
    display: inline-block;
    padding-left: 5px;
/*    transition: all 1s ease;*/
    transform: perspective(1px) translateZ(0);
}
.soc-icon a:hover {
    animation: hvr-buzz .6s ease infinite;
}
@keyframes hvr-buzz {
    50% {
    transform: scale(.8) ;
}
100% {
transform: scale(1) ;
}
}

.soc-icon a:first-child {
    padding-left: 0;
}

.copyright {
    background-color: #2c2c2c;
    padding: 30px 0;
}